<!DOCTYPE html>
<html>
<head>
  <title>EmpTravels</title>
 <%= stylesheet_link_tag "application", "jquery-ui-1", "masterStyle" ,"ui_002" ,"ui.jqgrid" %>
  <%= javascript_include_tag "application","jquery.jqGrid.min","jquery","jquery.ui.datepicker","jquery-ui-1.8.1.custom.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
